<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title> All the Ninjas! </title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	</head>
	<body>
		<h1> All Ninjas here! </h1>
		{% load staticfiles %}
		<img src="{% static 'dis_ninja/images/tmnt.png' %}" alt="All ninjas"/><br>
		<a href="/ninjas/blue">blue ninja</a><br>
		<a href="/ninjas/red">red ninja</a><br>
		<a href="/ninjas/orange">orange ninja</a><br>
		<a href="/ninjas/purple">purple ninja</a>
	</body>
</html>
